* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.25;
  color: #333;
}

body {
  background-color: #f3eddb;
}

.container {
  max-width: 1200px;
  padding: 16px;
}

body,
.container {
  margin: 0 auto;
}

main,
body {
  width: 100%;
}

.description {
  text-align: center;
}
.recipe-section {
  padding: 1rem;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

h1,
h3 {
  text-align: center;
}

h1,
h2 {
  margin-bottom: 0.8rem;
}

p,
.recipe-section {
  margin-bottom: 1rem;
}

li {
  margin-left: 0.5rem;
}

h3,
li {
  margin-bottom: 0.5rem;
}

.step-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 48rem) {
  h1 {
    font-size: 2rem;
  }

  ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  li {
    break-inside: avoid;
  }

  .step-image {
    max-width: 100%;
    display: block;
    margin: 0.5rem 0;
  }

  .image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .step-image {
    max-width: 100%;
    display: block;
  }
}
